
.grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 10px;
    padding: 20px;
}

.button {
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}